if SHIELD_LISM_L || SHIELD_LISM_R || SHIELD_LISM_DONGLE || SHIELD_LISM_JOYSTICK

config ZMK_KEYBOARD_NAME
    default "LisM"

config ZMK_SPLIT
    default y

endif

if SHIELD_LISM_L || SHIELD_LISM_R || SHIELD_LISM_DONGLE

config ZMK_POINTING
    default y

config ZMK_MOUSE
    default y

config INPUT
    default y

endif

if SHIELD_LISM_L || SHIELD_LISM_R

config PAW3222
    default y

config SPI
    default y

endif

if SHIELD_LISM_JOYSTICK

config ADC
    default y

config LISM_RESISTIVE_JOYSTICK
    default y

endif

if SHIELD_LISM_DONGLE

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 3

# Three split peripherals plus the five normal host profiles.
config BT_MAX_CONN
    default 8

config BT_MAX_PAIRED
    default 8

endif
