#include "lism.dtsi"
#include "lism-layouts.dtsi"
&adc {
    status = "okay";
};

/ {
	chosen {
		zmk,kscan = &kscan_composite;
	};

	kscan_matrix: kscan_matrix {
		compatible = "zmk,kscan-gpio-matrix";
		diode-direction = "col2row";
        wakeup-source;

        row-gpios
            = <&xiao_d 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   // row0: D0
            , <&xiao_d 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   // row1: D1
            , <&xiao_d 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   // row2: D2
            , <&xiao_d 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   // row3: D3
            ; 

        col-gpios
            = <&xiao_d 10 GPIO_ACTIVE_HIGH>                     // col0: D10
            , <&xiao_d 9  GPIO_ACTIVE_HIGH>                     // col1: D9
            , <&xiao_d 8  GPIO_ACTIVE_HIGH>                     // col2: D8
            , <&xiao_d 7  GPIO_ACTIVE_HIGH>                     // col3: D7
            , <&gpio0  9  GPIO_ACTIVE_HIGH>                     // col4: GPIO9(NFC1)
            ; 
    };

    joystick_kscan: joystick_kscan {
        compatible = "linus,resistive-joystick";
        io-channels = <&adc 2>, <&adc 3>; /* D4/P0.04=X, D5/P0.05=Y */
        press-gpios = <&xiao_d 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        poll-period-ms = <10>;
        activation-threshold = <550>;
        release-threshold = <400>;
        calibration-samples = <32>;
    };

    kscan_composite: kscan_composite {
        compatible = "zmk,kscan-composite";
        rows = <5>;
        columns = <5>;

        matrix {
            kscan = <&kscan_matrix>;
            row-offset = <0>;
            column-offset = <0>;
        };

        joystick {
            kscan = <&joystick_kscan>;
            row-offset = <4>;
            column-offset = <0>;
        };
    };
};
