#define ZMK_POINTING_DEFAULT_SCRL_VAL 200

#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    tapping-term-ms = <300>;
    flavor = "balanced";
};

&lt { quick-tap-ms = <300>; };

/ {
    macros {
        emoji: emoji_macro {
            compatible = "zmk,behavior-macro";
            label = "EMOJI";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp CAPSLOCK>,
                <&macro_tap>,
                <&kp E>,
                <&macro_release>,
                <&kp CAPSLOCK>;
        };
    };

    behaviors {
        encoder_msc: sensor_rotate_msc {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };

        encoder_kp: sensor_rotate_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        MleftClkR {
            bindings = <&mkp MB1>;
            key-positions = <16 17>;
        };

        MrightClkR {
            bindings = <&mkp MB2>;
            key-positions = <18 17>;
        };

        MmidClkR {
            bindings = <&mkp MB4>;
            key-positions = <18 16>;
        };

        comboTb {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        SftTb {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        Cp {
            bindings = <&kp LC(C)>;
            key-positions = <21 22>;
        };

        Pst {
            bindings = <&kp LC(V)>;
            key-positions = <22 23>;
        };

        Ct {
            bindings = <&kp LC(X)>;
            key-positions = <23 21>;
        };

        ScrnSht {
            bindings = <&kp LG(LS(S))>;
            key-positions = <10 11>;
        };

        MRightClkL {
            bindings = <&mkp MB2>;
            key-positions = <1 2>;
        };

        MLeftClkL {
            bindings = <&mkp MB1>;
            key-positions = <2 3>;
        };

        MmidClkL {
            bindings = <&mkp MB4>;
            key-positions = <1 3>;
        };

        ScrnShtMac {
            bindings = <&kp LG(LS(NUMBER_4))>;
            key-positions = <0 1>;
        };

        rleftclk2 {
            bindings = <&mkp MB1>;
            key-positions = <6 7>;
        };

        rrightclk2 {
            bindings = <&mkp MB2>;
            key-positions = <8 7>;
        };

        Allslct {
            bindings = <&kp LC(A)>;
            key-positions = <11 13>;
        };

        MmidClkR2 {
            bindings = <&mkp MB4>;
            key-positions = <6 8>;
        };

        capscombo {
            bindings = <&kp CAPSLOCK>;
            key-positions = <35 36>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp Q           &kp W       &kp E            &kp R             &kp T                                      &kp Y        &kp U           &kp I        &kp O       &kp P
&mt LEFT_GUI A  &mt LALT S  &mt LCTRL D      &mt LEFT_SHIFT F  &kp G                                      &kp H        &mt RSHIFT J    &mt RCTRL K  &mt RALT L  &mt RGUI SEMICOLON
&kp Z           &kp X       &kp C            &kp V             &kp B                                      &kp N        &kp M           &kp COMMA    &kp DOT     &kp SLASH
&lt 4 DELETE    &tog 1      &lt 1 BACKSPACE  &kp LS(LG(N4))    &lt 2 SPACE  &lt 3 ESC    &lt 3 BACKSPACE  &lt 2 ENTER  &kp LS(LG(N4))  &kp F1       &kp F2      &lt 4 ESC
            >;

            sensor-bindings = <&encoder_msc SCRL_DOWN SCRL_UP>;
        };

        layer_1 {
            display-name = "Num";
            bindings = <
&trans    &trans  &trans  &trans  &trans                           &kp KP_DIVIDE    &kp KP_N7  &kp KP_N8  &kp KP_N9   &kp KP_MINUS
&mkp MB5  &trans  &trans  &trans  &trans                           &kp KP_MULTIPLY  &kp KP_N4  &kp KP_N5  &kp KP_N6   &kp KP_PLUS
&mkp MB4  &trans  &trans  &trans  &trans                           &kp KP_NUMLOCK   &kp KP_N1  &kp KP_N2  &kp KP_N3   &kp KP_ENTER
&trans    &trans  &trans  &trans  &trans  &trans    &kp BACKSPACE  &kp KP_N0        &trans     &kp KP_N0  &kp KP_DOT  &kp ESC
            >;
        };

        layer_2 {
            display-name = "NavNum";
            bindings = <
&kp TAB          &kp HOME      &kp UP         &kp END        &kp ESC                                               &kp KP_EQUAL     &kp KP_N7  &kp KP_N8  &kp KP_N9   &kp KP_NUMLOCK
&kp LS(LC(TAB))  &kp LEFT      &kp DOWN       &kp RIGHT      &kp LC(TAB)                                           &kp KP_MULTIPLY  &kp KP_N4  &kp KP_N5  &kp KP_N6   &kp KP_PLUS
&kp LEFT_SHIFT   &kp PAGE_UP   &kp C_AC_HOME  &kp PAGE_DOWN  &kp LC(LS(C_AC_BACK))                                 &kp KP_DIVIDE    &kp KP_N1  &kp KP_N2  &kp KP_N3   &kp KP_MINUS
&kp LCTRL        &kp LEFT_WIN  &kp LEFT_ALT   &trans         &kp K_BACK             &kp C_AC_BACK    &kp KP_ENTER  &kp KP_N0        &trans     &kp KP_N0  &kp KP_DOT  &kp KP_DOT
            >;

            #sensor-bindings = <&encoder_kp C_VOL_UP C_VOL_DN>;
        };

        layer_3 {
            display-name = "Mark";
            bindings = <
&kp EXCLAMATION  &kp AT_SIGN   &kp HASH              &kp DOLLAR             &kp PERCENT                       &kp CARET        &kp AMPERSAND     &kp ASTERISK       &kp SINGLE_QUOTE  &kp DOUBLE_QUOTES
&kp NUMBER_1     &kp NUMBER_2  &kp NUMBER_3          &kp NUMBER_4           &kp NUMBER_5                      &kp NUMBER_6     &kp NUMBER_7      &kp NUMBER_8       &kp NUMBER_9      &kp NUMBER_0
&kp TILDE        &kp GRAVE     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACE                    &kp RIGHT_BRACE  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp PIPE          &kp BACKSLASH
&kp F7           &kp F5        &kp F4                &trans                 &kp MINUS       &trans    &trans  &kp UNDERSCORE   &trans            &kp F8             &kp F11           &kp F12
            >;
        };

        layer_4 {
            display-name = "Device";
            bindings = <
&none        &none           &none         &none         &bt BT_CLR                           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&none        &out OUT_BLE    &out OUT_USB  &out OUT_TOG  &trans                               &none         &out OUT_TOG  &out OUT_USB  &out OUT_BLE  &none
&sys_reset   &none           &none         &none         &none                                &none         &none         &none         &none         &sys_reset
&bootloader  &bt BT_CLR_ALL  &none         &none         &none       &none    &studio_unlock  &none         &none         &none         &none         &bootloader
            >;
        };

        layer_5 {
            status = "reserved";
            display-name = "Brank Layer";
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_6 {
            status = "reserved";
            display-name = "Brank Layer";
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_7 {
            status = "reserved";
            display-name = "Brank Layer";
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
